.DS_Store

# Ignore PHPStorm configuration.
.idea/

# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/www/core
/www/modules/contrib
/www/profiles/contrib
/www/themes/contrib
/www/sites/default/files

# Ignore Composer-managed dependencies.
vendor/
