dist: trusty
language: php

cache:
  bundler: true
  apt: true
  directories:
    - "$HOME/.composer/cache"
    - "$HOME/.drush/cache"
    - "$HOME/.npm"
php:
  - 7.1

env:
  - TEST_TAGS=lightning PROFILE_NAME=lightning
  - TEST_TAGS=~search PROFILE_NAME=lightning_extender

addons:
  chrome: stable

before_install:
  - phpenv config-rm xdebug.ini
  - phpenv config-add .travis-ci/travis.php.ini
  - phpenv rehash

  - composer self-update
  - composer --version
  - google-chrome-stable --version

  - DB_URL='sqlite\://db.sqlite'
  - HOST='http://127.0.0.1'

install:
  # Add Composer's local bin directory to the PATH so that we will be running
  # our installed versions of Drush, PHPCS, Behat, PhantomJS, etc.
  - export PATH="$HOME/.composer/vendor/bin:$TRAVIS_BUILD_DIR/vendor/bin:$PATH"

  # Add dev dependencies that shouldn't be shipped to implementors and build the
  # Lightning code base.
  - composer require --dev acquia/lightning_dev:dev-8.x-1.x drupal/media_entity_generic:^1.0 --no-update
  - composer install

  # Install Lightning.
  - lightning install $DB_URL lightning $HOST
  # Reinstall Lightning if we want to run tests on a sub-profile.
  - if [ $PROFILE_NAME != 'lightning' ]; then lightning install $DB_URL $PROFILE_NAME $HOST; fi

  # Update code base to HEAD.
  - composer nuke
  - composer require acquia/lightning:dev-8.x-3.x --no-update
  - composer update

  # Run database and Lightning config updates.
  - drush updatedb --yes
  - drush update:lightning --no-interaction
  - drush cache-rebuild
  - drush pm-uninstall --yes history

before_script:
  - drush runserver --default-server=builtin --quiet 8080 &
  - chromedriver --port=4444 &

script:
  - behat --strict --tags=${TEST_TAGS}

matrix:
  fast_finish: true
