dist: trusty
language: php

cache:
  bundler: true
  directories:
    - "$HOME/.composer/cache"
    - "$HOME/.drush/cache"
    - "$HOME/.npm"
php:
  - '7.3'

addons:
  chrome: stable

env:
  global:
    - SIMPLETEST_DB=sqlite://localhost/db.sqlite
    - SIMPLETEST_BASE_URL=http://127.0.0.1:8080
    - SYMFONY_DEPRECATIONS_HELPER=weak

before_install:
  - phpenv config-rm xdebug.ini
  - phpenv config-add .travis-ci/travis.php.ini
  - phpenv rehash

  - composer self-update 1.10.16
  - composer --version

install:
  # Add Composer's local bin directory to the PATH so that we will be running
  # our installed versions of Drush, PHPCS, Behat, PhantomJS, etc.
  - export PATH="$HOME/.composer/vendor/bin:$TRAVIS_BUILD_DIR/vendor/bin:$PATH"

  # Add dev dependencies that shouldn't be shipped to implementors and build the
  # Lightning code base.
  - composer require --dev "drupal/core-dev:^9" vaimo/binary-chromedriver --no-update
  - composer install

  - drush site:install lightning --yes --db-url sqlite://db.sqlite
  - chmod -R +w docroot/sites/default

  # Update code base to HEAD.
  - composer require acquia/lightning:5.0.x-dev

  # Run database and Lightning config updates, then reinstall from
  # exported config to prove that the config is still sane.
  - drush updatedb --yes
  - drush update:lightning --no-interaction
  - drush config:export --yes
  - drush site:install --yes --existing-config

before_script:
  - drush runserver --default-server=builtin --quiet 8080 &
  - chromedriver --port=4444 &
  - cd docroot

script:
  - phpunit -c core --group lightning --debug

matrix:
  fast_finish: true
